body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fce4ec;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 180px;
  background-color: #f8bbd0; /* απαλό ροζ */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar a {
  color: #333; /* πιο ήπιο και ευανάγνωστο */
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  color: #f48fb1; /* ελαφρύ contrast στο hover */
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-alig
